**
!Dockerfile
!.dockerignore
!Cargo.toml
!Cargo.lock
!client/
!client/Cargo.toml
!client/src/
!client/src/**
!common/
!common/Cargo.toml
!common/src/
!common/src/**
!server/
!server/Cargo.toml
!server/src/
!server/src/**
!LICENSE*
!THIRD_PARTY_NOTICES.md
!licenses/
!licenses/**

**/.env
**/.env.*
**/*.key
**/*.pem
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
**/secrets/**
